<div class="text-center pt-4">PRODUCTS AVAILABLE</div>

<div class="row mx-5 p-4 text-center">
		<div class="input-group mb-3 w-50 col-12">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">🔍</span>
				</div>
				<input [formControl]="searchProduct" type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="basic-addon1">
			</div>
  <div
    *ngFor="let product of productListService.productList"
    class="col-3 d-flex flex-column"
  >
    <img [src]="product.img" class="img-fluid" />
    <span>{{ product.name }}</span>
    <span>{{ product.price }}</span>
  </div>
</div>
